@model WebAdmin.Models.KHACHHANG
@{
    ViewBag.Title = "Chỉnh sửa thông tin khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CHỈNH SỬA KHÁCH HÀNG</h2>

@using (Html.BeginForm("SuaKhachHang", "KhachHang", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.HiddenFor(model => model.MaKH)
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="review-content-section">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="devit-card-custom">
                            <div class="form-group">
                                Mã khách hàng:
                                @Html.TextBoxFor(model => model.MaKH, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="form-group">
                                Tên khách hàng:
                                @Html.TextBoxFor(model => model.TenKH, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.TenKH, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                Địa chỉ:
                                @Html.TextBoxFor(model => model.DiaChi, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.DiaChi, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                Điện thoại:
                                @Html.TextBoxFor(model => model.SDT, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.SDT, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                Email:
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                            <a href="@Url.Action("Index")" class="btn btn-primary waves-effect waves-light">Change password</a>
                            <a href="@Url.Action("Index")" class="btn btn-primary waves-effect waves-light">Back to List</a>
                            <div class="warning">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "list-style-type:none;" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



