@model WebAdmin.Models.NHANVIEN
@{
    ViewBag.Title = "Tạo mới nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>TẠO MỚI NHÂN VIÊN</h2>

@using (Html.BeginForm("TaoMoiNhanVien", "NhanVien", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="review-content-section">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="devit-card-custom">
                            <!--Tài khoản-->
                            <div class="form-group">
                                @Html.EditorFor(model => model.TaiKhoan, new { htmlAttributes = new { @class = "form-control", @placeholder = "Employee account" } })
                                @Html.ValidationMessageFor(m => m.TaiKhoan, "", new { @class = "text-danger" })
                            </div>
                            <!--Tên nhân viên-->
                            <div class="form-group">
                                @Html.EditorFor(model => model.TenNV, new { htmlAttributes = new { @class = "form-control", @placeholder = "Employee name" } })
                                @Html.ValidationMessageFor(m => m.TenNV, "", new { @class = "text-danger" })
                            </div>
                            <!--Mật khẩu-->
                            <div class="form-group">
                                @Html.PasswordFor(Model => Model.MatKhau, new { @class = "form-control", @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.MatKhau, "", new { @class = "text-danger" })
                            </div>
                            <!--Quyền-->
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                            <a href="@Url.Action("Index")" class="btn btn-primary waves-effect waves-light">Back to List</a>
                            <div class="warning">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "list-style-type:none;" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


