@model WebAdmin.Models.SANPHAM
@{
    ViewBag.Title = "Thông tin chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CHI TIẾT SẢN PHẨM</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="review-content-section">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="devit-card-custom">
                            <div class="form-group">
                                Tên sản phẩm:
                                @Html.TextBoxFor(model => model.TenSP, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="form-group">
                                Số lượng tồn:
                                @Html.TextBoxFor(model => model.SoLuong, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="form-group">
                                Giá bán:
                                @Html.TextBoxFor(model => model.GiaBan, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="form-group">
                                Giá vốn:
                                @Html.TextBoxFor(model => model.GiaVon, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="form-group">
                                Đơn vị tính:
                                @Html.TextBoxFor(model => model.DonViTinh, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="form-group">
                                Mô tả:
                                @Html.TextBoxFor(model => model.MoTa, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="form-group">
                                Hình ảnh:
                                <img src="~/Content/Images/SanPham/@Model.HinhAnh" />
                            </div>
                            <div class="form-group">
                                Trạng thái
                                @if (Model.TrangThai == true)
                                {
                                    <i class="fas fa-toggle-on"></i>
                                }
                                else
                                {
                                    <i class="fas fa-toggle-off"></i>
                                }
                            </div>
                            <a href="@Url.Action("SuaSanPham", new { id=Model.MaSP})" class="btn btn-primary waves-effect waves-light">Edit</a>
                            <a href="@Url.Action("Index")" class="btn btn-primary waves-effect waves-light">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

